// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors
$title-color: #0000ff;
$article-title-color: #ff0000;
$article-content-color: #ff9434;
